@keyframes opacity {
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes showRight {
  from {
    right: -100%;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
