.footer {
  min-height: 96px;
  background-color: $color-white-smoke;

  &__inner {
    padding: 36px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include viewport--sm {
      flex-direction: column;
      justify-content: center;
    }
  }
}
