.header {
  background-color: $color-sherpa-blue;

  &__wrapper {
    display: flex;

    @include viewport--md {
      flex-direction: column;
    }
  }

  &__logo {
    width: 229px;
    display: block;
    margin-bottom: 76px;

    @include viewport--md {
      margin-bottom: 30px;
    }

    svg {
      display: block;
      width: 100%;
      height: auto;

      @include viewport--sm {
        width: 150px;
      }
    }
  }

  &__content {
    display: flex;
    flex-grow: 2;
    margin-top: 76px;

    @include viewport--lg {
      flex-direction: column;
      align-items: center;
    }

    @include viewport--md {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 40px;
      margin-top: 30px;
    }

    @include viewport--sm {
      flex-direction: column;
      align-items: center;
    }
  }

  &__flag {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-size: 28px;
    line-height: 36px;
    color: $color-yellow-green;
    text-transform: uppercase;
    transform: translateY(-4rem) scale(0.8);
    animation: 1s 0.5s opacity both;
    opacity: 0;
  }

  &__title {
    max-width: 452px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-size: 60px;
    font-weight: 400;
    line-height: 68px;
    color: $color-default-white;
    transform: translateY(-4rem) scale(0.8);
    animation: 1s 0.5s opacity both;
    opacity: 0;

    @include viewport--md {
      max-width: 100%;
      font-size: 44px;
      line-height: 52px;
    }

    @include viewport--sm {
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__date {
    font-size: 28px;
    line-height: 36px;
    color: $color-default-white;
    opacity: 0;
    animation: showUp 2.5s forwards;
    animation-delay: 0.7s;
  }

  &__img {
    align-self: flex-end;
    margin-bottom: 50px;
    transform: translateY(-4rem) scale(0.8);
    animation: 3s 0.9s opacity both;
    animation-delay: 1s;
    opacity: 0;

    @include viewport--lg {
      margin-top: 30px;
      margin-bottom: 0;
      align-self: center;
    }

    @include viewport--md {
      margin-top: 0;
      align-self: flex-end;
    }

    @include viewport--sm {
      margin-bottom: 20px;
      margin-top: 20px;
      align-self: center;
    }
  }

  &__form {
    position: relative;
    width: 458px;
    background-color: #003740;
    padding: 86px 0 86px 71px;
    right: -100%;
    opacity: 0;
    animation: showRight 1s both;
    animation-delay: 0.2s;

    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 2000%;
      right: 2px;
      top: 0;
      transform: translateX(100%);
      background-color: #003740;
    }

    @include viewport--md {
      width: 100%;
      margin-bottom: 20px;
      padding: 86px 71px 86px 71px;

      &::after {
        display: none;
      }
    }

    @include viewport--sm {
      padding: 20px;
    }
  }

  .decor {
    position: absolute;
    z-index: 5;

    @include viewport--md {
      display: none;
    }

    &--left {
      left: -65px;
      top: 314px;

      @include viewport--lg {
        left: -130px;
      }
    }

    &--right {
      right: -411px;
      top: 6px;

      @include viewport--lg {
        right: -200px;
      }
    }
  }
}
