<section class="experts container">
  <h2 class="experts__title section-title section-title--left">Learn from Veeam experts
  </h2>
  <ul class="experts__list">
    <li class="experts__item">
      @@include("source/html/components/user-card.html",{
      "cardPictSrc":"img/content/users/user1@1x.jpg",
      "cardPictSrcSet":"img/content/users/user1@2x.jpg",
      "cardPicAlt":"Danny Allan",
      "cardName":"Danny Allan",
      "cardPosition":"Chief Technology Officer",
      })
    </li>
    <li class="experts__item">
      @@include("source/html/components/user-card.html",{
      "cardPictSrc":"img/content/users/user2@1x.jpg",
      "cardPictSrcSet":"img/content/users/user2@2x.jpg",
      "cardPicAlt":"Olivier Robinne",
      "cardName":"Olivier Robinne",
      "cardPosition":"Vice President, EMEA",
      })
    </li>
    <li class="experts__item">
      @@include("source/html/components/user-card.html",{
      "cardPictSrc":"img/content/users/user3@1x.jpg",
      "cardPictSrcSet":"img/content/users/user3@2x.jpg",
      "cardPicAlt":"Mike Resseler",
      "cardName":"Mike Resseler",
      "cardPosition":"Director Product Management",
      })
    </li>
    <li class="experts__item">
      @@include("source/html/components/user-card.html",{
      "cardPictSrc":"img/content/users/user4@1x.jpg",
      "cardPictSrcSet":"img/content/users/user4@2x.jpg",
      "cardPicAlt":"Rick Vanover",
      "cardName":"Rick Vanover",
      "cardPosition":"Senior Director, Product Strategy",
      })
    </li>
    <li class="experts__item">
      @@include("source/html/components/user-card.html",{
      "cardPictSrc":"img/content/users/user5@1x.jpg",
      "cardPictSrcSet":"img/content/users/user5@2x.jpg",
      "cardPicAlt":"Michael Cade",
      "cardName":"Michael Cade",
      "cardPosition":"Senior Global Technologist, Product Strategy",
      })
    </li>
  </ul>

</section>
