<section class="promo container">
  <h2 class="promo__title section-title">Our ProPartner Program is&nbsp;designed to&nbsp;help you</h2>
  <div class="promo__content">
    <div class="promo__preview">
      <figure class="promo__figure">
        <div class="promo__wrapper">
          <picture>
            <source type="image/webp"
              srcset="img/content/preview/preview@1x.webp, img/content/preview/preview@2x.webp 2x">
            <img class="promo__img" src="img/content/preview/preview@1x.jpg" alt="Preview Veeam Live Recording"
              srcset="img/content/preview/preview@2x.jpg 2x" width="390" height="218">
          </picture>
          <button class="btn btn--play" type="button" aria-label="watch now" data-modal="feedback">
            <span class="btn__icon">
              <svg width="116" height="72" aria-hidden="true">
                <use xlink:href="#icon-play"></use>
              </svg></span>
          </button>
        </div>
        <figcaption class="promo__figcaption">Veeam Live Recording</figcaption>
      </figure>
    </div>
    <div class="promo__description">
      <p class="promo__text">Are you challenged by&nbsp;meeting the demands of&nbsp;the Always‑On Enterprise&trade; and
        maximizing your organization&rsquo;s investment in&nbsp;the Modern Data Center? If&nbsp;so, join&nbsp;us for
        a&nbsp;webinar where you&rsquo;ll learn how Veeam<sup class="reg">&reg;</sup> Software and Nutanix&rsquo;s joint
        solution can help you achieve:</p>
      <ul class="promo__list">
        <li class="promo__item">Improve productivity</li>
        <li class="promo__item">Create powerful solutions for fast backup and fast restore </li>
        <li class="promo__item">Improve efficiency across your business </li>
        <li class="promo__item">And more!</li>
      </ul>
      <p class="promo__text">Learn how organizations like yours can benefit from Cisco and Veeam<sup
          class="reg">&reg;</sup>.</p>
      <div class="promo__btn-wrapper">
        <span class="promo__moto">Gain access to innovative learning tools </span>
        <button class="btn btn--secondary" type="button" data-modal="feedback">watch now</button>
      </div>
    </div>
  </div>
</section>
