@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Tahoma";

  font-display: swap;
  src:
    url("../fonts/Tahoma.woff2") format("woff2"),
    url("../fonts/Tahoma.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Tahoma";

  font-display: swap;
  src:
    url("../fonts/Tahoma-Bold.woff2") format("woff2"),
    url("../fonts/Tahoma-Bold.woff") format("woff");
}
