// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Base

$color-nero: #232323;
$color-nobel: #999999;
$color-white: #f2f2f2;
$color-white-smoke: #f1f1f1;
$color-blue: #2c39f2;
$color-yellow-green: #93ea20;
$color-green-yellow: #a7ff34;
$color-dark-pastel-green: #00b336;
$color-sherpa-blue: #004550;
$color-watercourse : #005f4b;
// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
//---------------------------------

$font-family--tahoma:"Tahoma",
"Arial",
sans-serif;

// Animation
//---------------------------------

$default-transition-settings: 0.3s ease;
$modal-transition-settings: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm: 320px;
$viewport--md: 768px;
$viewport--lg: 1024px;
$viewport--xl: 1440px;
$viewport--xxl: 1920px;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
